# ==========================================
# 1. HARDWARE BASE E MEMÓRIA (WAVESHARE)
# ==========================================
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# PSRAM Otimizada
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
# CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536

# MODO TURBO (O2 e 240MHz nativos)
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Aumento da Pilha Padrão
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_FREERTOS_HZ=1000

# ==========================================
# 2. CONFIGURAÇÕES LVGL E GRÁFICOS
# ==========================================
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_30=y
CONFIG_LV_USE_FS_POSIX=y
CONFIG_LV_FS_POSIX_LETTER=83
CONFIG_LV_FS_POSIX_PATH=""

# ==========================================
# 3. OTIMIZAÇÃO EXTREMA PARA WEB SERVER E FATFS
# ==========================================
# Permite que o ESP32 aloque mais blocos do Wi-Fi na PSRAM se necessário
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Ajustes do Wi-Fi (Modo Throughput)
CONFIG_ESP_WIFI_AMPDU_TX_EN=y
CONFIG_ESP_WIFI_AMPDU_RX_EN=y
CONFIG_ESP_WIFI_TX_BA_WIN=32
CONFIG_ESP_WIFI_RX_BA_WIN=32
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=64

# Tuning do LwIP (TCP/IP pesado)
CONFIG_LWIP_TCP_WND_DEFAULT=65535
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65535
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_UDP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64

# Tuning do Servidor HTTP 
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048
CONFIG_HTTPD_MAX_URI_LEN=1024
CONFIG_HTTPD_ERR_RESP_NO_DELAY=y
CONFIG_HTTPD_PURGE_BUF_LEN=32

# Ajustes do Sistema de Arquivos (FATFS)
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_API_ENCODING_UTF_8=y
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_ALLOC_PREFER_EXTRAM=n
CONFIG_FATFS_ALLOC_PREFER_ALIGNED_WORK_BUFFERS=y

CONFIG_BOOTLOADER_CACHE_32BIT_ADDR_QUAD_FLASH=y
CONFIG_BOOTLOADER_CACHE_32BIT_ADDR_OCTAL_FLASH=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y